@charset "UTF-8";
/* グレー系 */
/* シアン系 */
@charset "UTF-8";
/* マージン・パディング */
/* フォントサイズ */
/* 行の高さ */
@charset "UTF-8";
/* グレー系 */
/* シアン系 */
/* マージン・パディング */
/* フォントサイズ */
/* 行の高さ */
/* line 6, /vagrant/app/assets/stylesheets/staff/container.css.scss */
div#wrapper div#container h1 {
  margin: 0;
  padding: 9px 6px;
  font-size: 16px;
  font-weithg: normal;
  background-color: #1a3333;
  color: #eeeeee;
}
@charset "UTF-8";
/* グレー系 */
/* シアン系 */
/* マージン・パディング */
/* フォントサイズ */
/* 行の高さ */
/* line 4, /vagrant/app/assets/stylesheets/staff/layout.css.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 10, /vagrant/app/assets/stylesheets/staff/layout.css.scss */
div#wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 48px;
  background-color: #cccccc;
}

/* line 19, /vagrant/app/assets/stylesheets/staff/layout.css.scss */
header {
  padding: 6px;
  background-color: #448888;
  color: #fafafa;
}
/* line 23, /vagrant/app/assets/stylesheets/staff/layout.css.scss */
header span.logo-mark {
  font-weight: bold;
}

/* line 29, /vagrant/app/assets/stylesheets/staff/layout.css.scss */
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #666666;
  color: #fafafa;
}
/* line 35, /vagrant/app/assets/stylesheets/staff/layout.css.scss */
footer p {
  text-align: center;
  padding: 6px;
  margin: 0;
}
/*!application.css**/

/** This is a manifest file that'll be compiled into application.css, which will include all the files*/
/** listed below.*/
/***/
/** Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,*/
/** or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.*/
/***/
/** You're free to add application-wide styles to this file and they'll appear at the bottom of the*/
/** compiled file so the styles you add here take precedence over styles defined in any styles*/
/** defined in the other CSS/SCSS files in this directory. It is generally better to create a new*/
/** file per style scope.*/
/***/


/**!*/

/*

 */

